.picture {
   
    display: inline-block;
    margin: 10px;
}

.gallery img {
    
    height: 200px;
    border: 3px double rgb(255, 255, 255);
}

.gallery p {
    text-align: center;
    margin-top: 0;
}
body,html{
    height: 100%;
}
body{
    text-align:center;
    background:url(./recursos/fondito.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color:white;
    
}
h1{
    color: black;
}
p{
    color: rgb(0, 0, 0);
}
.fondo {
    background-color: white;
    border: rgb(255, 145, 0) inset 3px;
}

